@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');

* {
    max-width: 1200;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Open Sans; 
    color: #000000;
}

.tabs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.tabs-bar-nav__item {
    display: inline-block;
}

.tabs-bar-nav__item--active {
    width: 203px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid #C6CBCD;
}

.tabs-bar-nav__item--nav {
    width: 203px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-bar-nav__item--nav a {
    border-radius: 5px 5px 0px 0px;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.tabs-content {
    border: 1px solid #C6CBCD;
    height: 502px;
}

.tabs-content__image {
    float: right;
}

.tabs-content__title h3 {
    width: 570px;
    padding: 30px 0;
    margin: 22px 0 38px 100px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

.tabs-content__title p {
    max-width: 570px;
    max-height: 210px;
    margin: 0 0 20px 100px;
}

p {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.tabs-content___button a {
    display: block;
    background-color: #EC7979;
    text-align: center;
    width: 270px;
    height: 58px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 58px;
    margin-left: 100px;
}