@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Open Sans, Raleway, serif, sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 50px 15px;
    margin: 0 auto;
}

.block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    border: 1px solid gray;
}

.block__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 50px) / 6);
    background-color: rgb(158, 127, 187);
    border: 1px solid rgb(227, 136, 102);
}

.title {
    flex-grow: 1;
}

.button {
    width: 120px;
    height: 40px;
    background-color: brown;

}