@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap');





  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Open Sans, Raleway, serif, sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    /* background: rgba(0, 0, 0, 0.50); */
    /* background-blend-mode: overlay; */
    /* background-image: url(/tms/axit/img/background-image.png); */
    background-color: #000;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-attachment: fixed; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 75px;
}
.logo {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
    padding-right: 50px;

}

.navigation-list__item {
    display: flex;
    align-items: center;
}
.navigation-list__item a {
    color: #FFF;
}

.features {
    background: rgba(0, 0, 0, 0.50);
    background-blend-mode: overlay;
    background-image: url(../img/background-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.features-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    /* height: 1026px; */

}

.logo-card {
    padding-top: 231px;
    padding-bottom: 72px;
}
.features-content-card-axit h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    width: 670px;
    padding-bottom: 55px;
}
.separator-card {
    border: 1px solid #FFF;
    width: 170px;
}
.features-content-card-axit p {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    width: 270px;
    padding-top: 42px;
    padding-bottom: 42px;
}
.header-content-card-axit-download a {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    
}

.header-content-card-axit-download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 58px;
    border: 2px solid #fff;
    background-color: none;
    margin-bottom: 185px;
}

.features-content-card-name {
    width: 470px;
    height: 450px;
    border-radius: 10px;
    background: #FFF;
}


.features-content-card-axit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.features-content-card-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    
}

.features-content-card-name h4 {
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 29px;
}
.features-content-card-name .colortext {
    color: #EC7979;
}

.features-content-card-name > span {
    color: #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}

.features-content-card-name input {
    width: 370px;
    height: 1px;
    background: #BDBDBD;
    border: none;
    
} 

.header-content-card-name-getstarted {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    background-color: #EC7979;
    border-radius: 0 0 10px 10px;
    width: 100%;
}
.header-content-card-name-getstarted a {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 21px 0;
}


/*  social-media */

.social-media {
    background-color: #F8EFEF;
}
.social-media-about {
    display: flex;
    justify-content: space-between;
}

.social-media-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 470px;
    height: 140px;
}

.social-media-title h4 {
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 16px;
    padding-bottom: 31px;
}
.social-media-title p {
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 18px;
}

.social-media-links {
    display: flex;
    align-items: center;
    gap: 30px;
}




/*  tabs */

.tabs-nav {
    display: flex;
    margin-top: 101px;
    margin-bottom: -1px;
}

.tabs-nav__item {
    padding-top: 10PX;
    padding-bottom: 10px;
}

.tabs-nav__item--active {
    width: 203px;
    height: 40px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid white;
}

.tabs-nav__item:not(:first-child) {
    width: 184px;
    height: 40px;
    text-align: center;
}

.tabs-nav__item a {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.tabs-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border: 1px solid #C6CBCD;
}

.tabs-content-title {
    width: 570px;
    margin-right: 30px;
}

.tabs-content__image {
    background: url(<path-to-image>), lightgray -29.234px 0px / 189.036% 100% no-repeat;
}

.tabs-content__image img {
    display: block;
}

.tabs-content-title h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 42px;
    margin-bottom: 68px;
}

.tabs-content-title p {
    font-family: Raleway;
    text-align: start;
    font-size: 18px;
    font-weight: 400;
}

.tabs-content-download {
    background-color: #EC7979;
    width: 270px;
    margin-top: 27px;
}



.tabs-content-download a {
    display: flex;
    justify-content: center;
    justify-items: center;
    /* display: block; */
    /* text-align: center; */
    /* height: 100%; */
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

/* awesome */

.awesome h2 {
    position: relative;
    font-family: Raleway;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-top: 102px;
    padding-bottom: 54px;
}

.awesome__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #EC7979;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}


.awesome p {
    font-family: Raleway;
    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto 110px auto;
}

.aside-card h3 {
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 39px auto 41px auto;
}

.aside-card p {
    font-family: Raleway;
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 90px;
}

.aside-card__icon {
    width: 92px;
    height: 92px;
    text-align: center;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.aside {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    text-align: center;
}

.aside-card {
    width: calc((100% - 62px) / 3);
}

.aside-card:hover {
    position: relative;
    content: "";
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}


/* pricing */

.pricing-block h2 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
    padding-bottom: 54px;
}
.pricing__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #EC7979;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}

.pricing-block p {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
}

.pricing-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    /* margin-bottom: 100px; */
}

.pricing-table-list {
    width: calc((100% - 60px) / 3);
    list-style-type: none;
    text-align: center;
    margin-top: 79px;
    border: none;
}

.pricing-table-list:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
    position: relative;
    content: "";
    bottom: 20px;
    transition: .1s;

}

.pricing-table__item:nth-child(1) {
    padding-top: 13px;
    padding-bottom: 12px;
    border: 1px solid #F5F5F5;
    background: #333;
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.pricing-table__item:nth-child(2) {
    padding-top: 28px;
    padding-bottom: 28px;
    border: 1px solid #F5F5F5;
    background: #333;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
}

.pricing-table__item:nth-child(3) {
    padding-top: 14px;
    padding-bottom: 13px;
    border: 1px solid #F5F5F5;
    background: #333;
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.pricing-table__item {
    padding-top: 14px;
    padding-bottom: 13px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}


/* customers */

.customers h2 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 104px;
    padding-bottom:  54px;
}

.customers__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #EC7979;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}

.customers p {
    position: relative;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto 83px auto;
}

.customers_triangle::before {
    position: absolute;
    content: "";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid  #E2E2E2;
    bottom: -20px;
    left: 70px;
}

.customers-block-card p {
    border-radius: 10px;
    background: #E2E2E2;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    padding: 38px 15px;
}


.customers-block-card h4 {
    color: #000;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    padding-left: 30px;
    padding-top: 10px;
}

.customers-block-card h5 {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 15px 0 0 30px;
}

.customers-block {
    display: flex;
    justify-content: space-between;
}
.customers-block-card {
    width: calc((100% - 60px) / 3);
}

.customers-block-card-avatar {
    display: flex;
}

.customers-block-card__item_avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
