@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Open Sans, Raleway, serif, sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #000;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    margin-left: -50px;
}
.navigation-list {
    position: relative;
    content: "";
    display: flex;
    list-style-type: none;
    padding: 0 0;
}

.navigation-list__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 30px;
    transition: .3s;
}
.navigation-list__item:hover {
    background: #EC7979;
}
.navigation-list__item:active {
    background: #AB4949;
}
.navigation-list__item a {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.navigation-list__item a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features {
    background: rgba(0, 0, 0, 0.50) url(../img/background-image.png) center / cover no-repeat;
    background-blend-mode: overlay;
}

.features-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 283px 0 185px 0;

}

.logo-card {
    padding: 23px 0 72px 0;
}

.features-content-card-axit {
    display: flex;
    flex-direction: column;
    max-width: 670px;
}

.features-title {
    max-width: 670px;
}
.features-content-card-axit h1 {
    position: relative;
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 55px;
}

.features__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #fff;
    width: 170px;
    bottom: 0;
    left: 0;
}
.features-title-about {

}
.features-content-card-axit p {
    max-width: 270px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    padding: 42px 0;
}

.header-content-card-axit-download {
    width: 270px;
    border: 2px solid #fff;
    background: transparent;
}

.header-content-card-axit-download a {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 15px 0;
    transition: .1s;
}


.header-content-card-axit-download a:hover {
    color: #EC7979;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    outline: 2px solid #EC7979;
    color: #EC7979;
}

.header-content-card-axit-download a:active {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    outline: 2px solid #AB4949;
    background: #AB4949;
}

.features-content-card-name {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 100%;
    border-radius: 10px;
    background: #FFF;
}

/* .features-content-card-name {
    max-width: 470px;
    height: 100%;
    border-radius: 10px;
    background: #FFF;
} */

.features-content-card-name__title {
    padding: 29px 50px 73px 50px;
}
.features-content-form-login {
    padding: 0 50px;
}
.features-content-card__input input::placeholder {
    color: #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    transform: translateY(-5px);
}

.features-content-card-name input {
    width: 100%;
    min-height: 38px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    background-color: transparent;
    color: inherit;
    outline: none;
} 

.features-content-card__input:nth-child(-n+2) {
    display: flex;
    flex-direction: column;
    padding: 0 0 33px 0;
}
.features-content-card__input:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.features-content-card-name h4 {
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.features-content-card-name .colortext {
    color: #EC7979;
}


.features-content-card-name > span {
    color: #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}


.header-content-card-name-getstarted button {
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #EC7979;
    border-radius: 0 0 10px 10px;
    width: 100%;
    transition: .1s;
    padding: 21px 0;
    margin-top: 75px;
}

.header-content-card-name-getstarted button:hover {
    background: #AB4949;
}

.header-content-card-name-getstarted button:active {
    background: #EC7979;
}

/*  social-media */

.social-media {
    padding: 14px 0 18px 0;
    background-color: #F8EFEF;
}
.social-media-about {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.social-media-title {

}
.social-media-title__title, 
.social-media-title__about {
    max-width: 470px;
}

.social-media-title h4 {
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 2px 0 31px 0;
}
.social-media-title p {
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.social-media-links img {
    display: block;
}

.social-media-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*  tabs */

.tabs {
    padding-top: 101px;
    scroll-margin-top: 70px;
}

.tabs-nav {
    display: flex;
    margin-bottom: -1px;
}

.tabs-nav__item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabs-nav__item--active {
    width: 203px;
    height: 40px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid white;
}

.tabs-nav__item:not(:first-child) {
    width: 184px;
    height: 40px;
    text-align: center;
}

.tabs-nav__item a {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.tabs-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid #C6CBCD;
}

.tabs-content-title {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    /* width: calc((100% - 30px) / 2); */
    width: 570px;
    margin: 0 0 0 100px;
}

.tabs-content__image {
    width: 470px;
    object-fit: cover;
    /* width: calc((100% - 30px) / 2); */
}

.tabs-content__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabs-content-title h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 42px 0 68px 0;
}


.tabs-content-title p {
    /* width: 47.5%; */
    flex-grow: 1;
    font-family: Raleway;
    text-align: start;
    font-size: 18px;
    font-weight: 400;
}

.tabs-content-download {
    background-color: #EC7979;
    width: 270px;
    margin: 27px 0 54px 0;
}


.tabs-content-download a {
    display: flex;
    justify-content: center;
    justify-items: center;
    /* display: block; */
    /* text-align: center; */
    /* height: 100%; */
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
    transition: .1s;
}

.tabs-content-download a:hover {
    background: #AB4949;
}
.tabs-content-download a:active {
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

/* awesome */

.awesome h2 {
    position: relative;
    font-family: Raleway;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-top: 102px;
    padding-bottom: 54px;
}

.awesome__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #EC7979;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}


.awesome p {
    font-family: Raleway;
    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto 110px auto;
}

.aside-card h3 {
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 39px auto 41px auto;
}

.aside-card p {
    font-family: Raleway;
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 58px;
    margin-top: 0;
}

.aside-card__icon {
    width: 92px;
    height: 92px;
    text-align: center;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.aside {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.aside-card {
    width: calc((100% - 62px) / 3);
}


/* pricing */


.pricing {
    scroll-margin-top: 70px;
    background: #F5F5F5;
    padding-bottom: 50px;
}

.pricing-block h2 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 104px;
    padding-bottom: 54px;
}
.pricing__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #EC7979;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}

.pricing-block p {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
}

.pricing-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 79px 0 0 0;
}

.pricing-table-list {
    width: calc((100% - 60px) / 3);
    list-style-type: none;
    text-align: center;
    border: none;
    transition: all 0.1s 0.1s;
}

.pricing-table-list:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
    /* position: relative; */
    /* content: ""; */
    /* bottom: 20px; */
    transform: translate(0, -20px);
}

.pricing-table__item:nth-child(1) {
    padding-top: 13px;
    padding-bottom: 12px;
    border: 1px solid #F5F5F5;
    background: #333;
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.pricing-table__item:nth-child(2) {
    padding-top: 28px;
    padding-bottom: 28px;
    border: 1px solid #F5F5F5;
    background: #333;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
}

.pricing-table__item:nth-child(3) {
    padding-top: 14px;
    padding-bottom: 13px;
    border: 1px solid #F5F5F5;
    background: #333;
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.pricing-table__item {
    padding-top: 14px;
    padding-bottom: 13px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}


/* customers */

.customers {
    padding: 64px 0 104px 0;
    scroll-margin-top: 70px;
}

.customers-title h2 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    /* margin-top: 104px; */
    padding-bottom:  54px;
}

.customers__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #EC7979;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}

.customers-title p {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto 83px auto;
}
.customers-block {
    display: flex;
    justify-content: space-between;
}
.customers-block-card {
    width: calc((100% - 60px) / 3);
    
}
.customers-block-card p {
    position: relative;
    border-radius: 10px;
    background: #E2E2E2;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    padding: 38px 23px 37px 24px;
}
.customers_triangle::before {
    position: absolute;
    content: "";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid  #E2E2E2;
    bottom: -20px;
    left: 70px;
}

.customers-block-card__item-avatar-about {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 0 0 30px;
}
.customers-name {
    color: #000;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.customers-job {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.customers-block-card-avatar {
    display: flex;
    padding: 66px 0 0 0;
}
.customers-block-card__item_avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/*  design  */

.design {
    background: rgba(0, 0, 0, 0.50);
    background-blend-mode: overlay;
    background-image: url(../img/stylish-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.stylish-design h2 {
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 104px 0 54px 0;
}

.stylish-design__separator::before {
    position: absolute;
    content: "";
    border: 1px solid #fff;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}

.stylish-design p {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
}

.stylish-design-download a {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 15px 0;
    transition: .1s
}

.stylish-design-download {
    width: 370px;
    border: 2px solid #fff;
    background-color: transparent;
    margin: 73px auto 0;
}

.stylish-design-download a:hover {
    color: #EC7979;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    outline: 2px solid #EC7979;
    color: #EC7979;
}

.stylish-design-download a:active {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    outline: 2px solid #AB4949;
    background: #AB4949;
}

/* contact  */

.contact {
    padding-top: 104px;
    scroll-margin-top: 70px;
}

.contact-us h2 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 54px;
}
.contact-separator::before {
    position: absolute;
    content: "";
    border: 1px solid #EC7979;
    width: 170px;
    bottom: 0;
    left: calc(50% - 85px);
}
.contact-us p {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 89px;
}

.contact-form-block {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}   

.contact-form-card__name, 
.contact-form-card__massage {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
}
.contact-form-block__input label {
    color: #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.contact-form-card__massage .contact-form-block__input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact-form-block__input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    background-color: transparent;
    color: inherit;
    outline: none;
} 

.contact-form-block__input textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
    background-color: transparent;
}

.contact-form .contact-form-block__input:not(:last-child) {
    padding-bottom: 50px;
}

.contact-us-card-send {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.contact-us-card-send button {
    text-align: center;
    border: none;
    background-color: #EC7979;
    width: 370px;
    font-family: Open Sans;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 20px 0;
    transition: .1s
}

.contact-us-card-send button:active {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    background: #AB4949;
}

/* footer */

.footer {
    background-color: #000;
    padding-bottom: 27px;
}
.footer-links {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    padding: 35px 0 27px 0;
}

.footer p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.footer-links svg {
    display: block; /*убираем разницу в высоте ссылки и вложенного в неё изображения */
}

.footer-links svg {
    fill: #CCC;
    transition: .5s;
}
.footer-links a:nth-child(1):hover svg {
    fill: red;
    stroke: chartreuse;
    opacity: 50%;
    transform: scale(120%);
}
.footer-links a:nth-child(2):hover svg {
    fill: blue;
    transform: scale(120%);
    transform: rotate(20deg);
}
.footer-links a:nth-child(3):hover svg {
    background: rgba(50, 76, 154, .5);
    fill: rgb(0, 72, 255);
    transform: scale(120%);
}
.footer-links a:nth-child(4):hover svg {
    fill: mediumspringgreen;
    transform: rotateY(150deg);
    backface-visibility: visible;
}
.footer-links a:nth-child(5):hover svg {
    fill: rgba(0, 255, 221, 0.5);
    stroke: #EC7979;
    transform: scale(120%);
}
.footer-links a:nth-child(6):hover svg {
    fill: rgb(255, 123, 0);
    transform: rotate(-180deg);
}
.footer-links a:nth-child(7):hover svg {
    fill: rgb(0, 255, 128);
    transform: scale(130%);
    transform: skew(10deg, 10deg);
}



/* adaptable for different screen resolutions */

@media (max-width: 1270px) {
    .logo {
        margin-left: 0;
    }
}

@media (max-width: 1105px) {
    .tabs-content-title h3 {
        font-size: 24px;
    }
    .tabs-content-title p {
        font-size: 14px;
    }
    .features-content-card-name {
        max-width: 400px;
    }
}

@media (max-width: 1024px) {
    .tabs-content-title h3 {
        font-size: 24px;
    }
    .tabs-content-title p {
        font-size: 14px;
    }
    .logo {
        margin-left: 100px;
    }
    .logo-card {
        padding: 0;
    }
    .logo-card_img {
        width: 115px;
    }
    .features-title {
        max-width: 454.358px;
    }
    .features-content-card-axit h1 {
        font-size: 36px;
        padding: 37px 0 41px 0;
    }
    .features-content-card-name h4 {
        font-size: 18px;
    }
    .features-content-card-name__title {
        padding-bottom: 45px;
    }
    .features-title-about, 
    .header-content-card-axit-download {
        width: 183.099px;
    }
    .features-content-card-axit p {
        font-size: 14px;
        padding: 31px 0;
    }
    .features-content {
        padding: 212px 0 106px 100px;
    }
    .features-content-card-axit {
        max-width: 454px;
    }
    .social-media {
        padding: 12px 0 13px 0;
    }
    .social-media-title h4 {
        font-size: 18px;
    }
    .social-media-title p {
        font-size: 14px;
    }
    .social-media-links {
        gap: 20px;
    }
    .social-media-links img {
        max-height: 64px;
    }
    .social-media-title h4 {
        padding: 0 0 23px 0;
    }
    .tabs {
        padding-top: 50px;
    }
    .tabs-nav__item--active {
        max-width: 172.116px;
    }
    .tabs-nav__item:not(:first-child) {
        max-width: 156.007px;
    }
    .tabs-content-title h3 {
        font-size: 24px;
        padding: 28px 0 66px 0;
    }
    .tabs-content-download {
        width: 231.87px;
        margin-bottom: 50px;
    }
    .awesome h2 {
        font-size: 24px;
        margin-top: 96px;
        padding-bottom: 46px;
    }
    .awesome p {
        font-size: 14px;
        margin: 32px 0 65px 0;
    }
    .aside {
        gap: 20px;
    }
    .aside-card__icon {
        width: 79.55px;
        height: 79.55px;
    }
    .aside-card h3 {
        font-size: 18px;
        margin: 62px 0 37px 0;
    }
    .pricing-block h2 {
        font-size: 24px;
        padding: 96px 0 46px 0;
    }
    .pricing-block p {
        font-size: 14px;
    }
    .pricing-table {
        padding-top: 49.74px;
    }
    .customers-title h2 {
        font-size: 24px;
    }
    .customers {
        padding: 96px 0 57px 0;
    }
    .customers-block-card {
        width: calc((100% - 40px) / 3);
    }
    .customers-block-card p {
        font-size: 14px;
    }
    .customers-block-card p {
        padding: 50px 33px 50px 32px;
    }
    .customers-title h2 {
        padding-bottom: 46px;
    }
    .customers-title p {
        font-size: 14px;
        margin: 32px 0;
    }
    .customers-block-card__item_avatar img {
        width: 63px;
        height: 63px;
    }
    .customers-name {
        font-size: 18px;
    }
    .customers-job {
        font-size: 14px;
    }
    .customers-block-card__item-avatar-about {
        gap: 14px;
        padding-left: 22.54px;
    }
    .customers_triangle::before {
        left: 59px;
    }
    .stylish-design h2 {
        font-size: 24px;
        padding: 96px 0 46px 0;
    }
    .stylish-design p {
        font-size: 14px;
        margin-top: 32px;
    }
    .stylish-design-download {
        margin-top: 32px;
    }
    .design {
        padding-bottom: 32px;
    }
    .stylish-design-download {
        width: 318px;
    }
    .contact {
        padding-top: 96px;
    }
    .contact-us h2 {
        font-size: 24px;
        padding-bottom: 46px;
    }
    .contact-us p {
        font-size: 14px;
        margin: 32px 0 72px 0;
    }
    .contact-form-block {
        gap: 20px;
    }
    .contact-us-card-send button {
        width: 318px;
    }
    .footer-links svg {
        width: 45px;
        height: 45px;
    }
    .footer-links {
        column-gap: 27px;
        padding: 35px 0 38px 0;
    }
    .footer p {
        font-size: 14px;
    }
    .footer {
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .logo {
        margin-left: 0;
    }
    .features-content {
        padding: 200px 0 100px 0;
    }
    .features-content {
        flex-direction: column;
        gap: 100px;
    }
    .features-content-card-axit h1 {
        text-align: center;
    }
    .features-content-card-axit {
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }
    .features__separator::before {
        left: calc(50% - 85px);
    }
    .header-content-card-axit-download {
        width: 270px;
    }
    .features-content-card-name {
        width: 700px;
        margin: 0 auto;
    }
    .social-media-links img {
        width: 45px;
        height: 45px;
    }
    .social-media-about {
        gap: 15px;
    }
    .tabs-content__image {
        display: none;
    }
    .tabs-content-title {
        align-items: center;
        margin: 0 auto;
    }
    .tabs-content-download {
        width: 270px;
    }
    .aside {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .aside-card {
        width: 75%;
    }
    .pricing-table {
        flex-direction: column;
    }
    .pricing-table-list {
        width: 75%;
        margin: 0 auto;
    }
    .customers-block {
        flex-direction: column;
        gap: 100px;
    }
    .customers-block-card {
        width: 75%;
        margin: 0 auto;
    }
    .stylish-design-download {
        width: 370px;
    }
    .contact-form-block {
        flex-direction: column;
        gap: 50px;
    }
    .contact-form-card__name, .contact-form-card__massage {
        width: 75%;
        margin: 0 auto;
    }
    .contact-form-block__input textarea {
        min-height: 150px;
    }
    .contact-us-card-send button {
        width: 370px;
    }
}

@media (max-width: 430px) {
    .navigation {
        height: 56px;
    }
    .logo {
        width: 65px;
        height: 23px;
        margin: 16px 0 17px 20px
    }
    .navigation-list, 
    .logo-card {
        display: none;
    }
    .features-content {
        padding: 140px 0 50px 0;
    }
    .features-content-card-axit {
        width: 100%;
        margin: 0 auto;
    }
    .features-content-card-axit h1 {
        padding-bottom: 43px;
    }
    .features-content-card-axit p {
        padding: 42px 0;
    }
    .header-content-card-axit-download {
        width: 100%;
    }
    .features-content-card-name h4 {
        font-size: 14px;
    }
    .features-content-card-name__title {
        padding: 36px 0 35px 0;
    }
    .header-content-card-name-getstarted button {
        margin-top: 51px;
    }
    .features-content-card-name {
        width: 100%;
    }
    .social-media {
        padding: 41px 0 44px 0;
    }
    .social-media-about {
        flex-direction: column;
        gap: 32px;
    }
    .social-media-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-media-title__about {
        text-align: center;
    }
    .social-media-links img {
        width: 26px;
        height: 26px;
    }
    .social-media-links {
        justify-content: space-between;
    }
    .tabs-content-title h3 {
        text-align: center;
        font-size: 18px;
        padding: 44px 0 72px 0;
    }
    .tabs-content-title {
        padding: 0 15px;
    }
    .tabs-content-title p {
        font-size: 13px;
        text-align: center;
    }
    .tabs-content-download {
        width: 84%;
        margin: 29px 0 30px 0;
    }
    .awesome h2 {
        font-size: 18px;
        margin-top: 50px;
        padding-bottom: 49px;
    }
    .awesome p {
        font-size: 13px;
        margin: 25px 0 83px 0;
    }
    .aside-card p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .aside-card {
        width: 100%;
    }
    .aside {
        gap: 43px;
    }
    .awesome {
        margin-bottom: 60px;
    }
    .pricing-block h2 {
        padding: 46px 0;
    }
    .pricing-block p {
        margin-top: 24px;
    }
    .pricing-table {
        padding-top: 24px;
        gap: 27px;
    }
    .pricing-table-list {
        width: 100%;
    }
    .pricing-table__item:nth-child(1) {
        font-size: 18px;
    }
    .pricing-table__item:nth-child(2) {
        font-size: 24px;
    }
    .pricing {
        padding-bottom: 26px;
    }
    .customers {
        padding: 50px 0 50px 0;
    }

    .customers-block {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        gap: 20px;
    }
    .customers-block-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        }
    
    .stylish-design h2 {
        padding: 46px 0;
    }
    .stylish-design p {
        margin-top: 16px;
    }
    .stylish-design-download {
        margin-top: 50px;
    }
    .design {
        padding-bottom: 58px;
    }
    .contact {
        padding-top: 46px;
    }
    .contact-us p {
        margin: 24px 0 64px 0;
    }
    .contact-form-card__name, .contact-form-card__massage {
        width: 100%;
    }
    .contact-us-card-send {
        margin: 50px 0 40px 0;
    }
    .footer-links {
        column-gap: 17px;
        padding: 35px 0 42px 0;
    }
    .stylish-design-download {
        width: 84%;
    }
    .footer-links svg {
        width: 26px;
        height: 26px;
    }
    .footer {
        padding-bottom: 45px;
    }
}